<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=.\SQLEXPRESS; Database=StudentSystemDb; Integrated Security=true;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.1"/>
    <httpRuntime targetFramework="4.7.1"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="StudentSystem.Services.Web.StudentsService">
        <endpoint address="" binding="basicHttpBinding" contract="StudentSystem.Services.Web.Contracts.IStudentsService" />
      </service>
      <service name="StudentSystem.Services.Web.ProfessorsService">
        <endpoint address="" binding="basicHttpBinding" contract="StudentSystem.Services.Web.Contracts.IProfessorsService" />
      </service>
      <service name="StudentSystem.Services.Web.SemestersService">
        <endpoint address="" binding="basicHttpBinding" contract="StudentSystem.Services.Web.Contracts.ISemestersService" />
      </service>
      <service name="StudentSystem.Services.Web.DisciplinesService">
        <endpoint address="" binding="basicHttpBinding" contract="StudentSystem.Services.Web.Contracts.IDisciplinesService" />
      </service>
      <service name="StudentSystem.Services.Web.ScoresService">
        <endpoint address="" binding="basicHttpBinding" contract="StudentSystem.Services.Web.Contracts.IScoresService" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>