<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudentsService" />
                <binding name="BasicHttpBinding_IProfessorsService" />
                <binding name="BasicHttpBinding_ISemestersService" />
                <binding name="BasicHttpBinding_IDisciplinesService" />
                <binding name="BasicHttpBinding_IScoresService" />
                <binding name="BasicHttpBinding_IReportsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49158/StudentsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentsService"
                contract="StudentsServiceSoap.IStudentsService" name="BasicHttpBinding_IStudentsService" />
            <endpoint address="http://localhost:49158/ProfessorsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfessorsService"
                contract="ProfessorsServiceSoap.IProfessorsService" name="BasicHttpBinding_IProfessorsService" />
            <endpoint address="http://localhost:49158/SemestersService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISemestersService"
                contract="SemestersServiceSoap.ISemestersService" name="BasicHttpBinding_ISemestersService" />
            <endpoint address="http://localhost:49158/DisciplinesService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDisciplinesService"
                contract="DisciplinesServiceSoap.IDisciplinesService" name="BasicHttpBinding_IDisciplinesService" />
            <endpoint address="http://localhost:49158/ScoresService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IScoresService"
                contract="ScoresServiceSoap.IScoresService" name="BasicHttpBinding_IScoresService" />
            <endpoint address="http://localhost:49158/ReportsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReportsService"
                contract="ReportsServiceSoap.IReportsService" name="BasicHttpBinding_IReportsService" />
        </client>
    </system.serviceModel>
</configuration>