<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudentsService" />
                <binding name="BasicHttpBinding_IProfessorsService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49158/StudentsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStudentsService"
                contract="StudentsServiceSoap.IStudentsService" name="BasicHttpBinding_IStudentsService" />
            <endpoint address="http://localhost:49158/ProfessorsService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfessorsService"
                contract="ProfessorsServiceSoap.IProfessorsService" name="BasicHttpBinding_IProfessorsService" />
        </client>
    </system.serviceModel>
</configuration>